<!DOCTYPE html>
<html lang="en" class="shelf-bg">
  <head>
    <meta charset="utf-8"> 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  </head>


<body>


<h1 class="shelf-welcome"> Welcome To The Bar!</h1>
<p><h3 class="shelf-greeting"> Feel free to browse the shelves, make a new one, or add to an existing one!</h3></p>

<ul style="list-style: none;">
  <% @shelves.each do |user| %>
    <li>
      <h3 class="shelf-name"><%= link_to shelf.name, shelf_path(shelf) %></h3>
    </li>
    <br>
  <% end %>
</ul>


</body>
</html>
