<!DOCTYPE html>
<html lang="en" class="drink-bg">
  <head>
    <meta charset="utf-8"> 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  </head>


<body>


<h1 class="drink-welcome"> Welcome To The Drink Archive!</h1>
<h3 class="drink-greeting"> This is the place to search for and add any drink you'd like to your shelf!</h3>

<ul style="list-style: none;">
  <% @drinks.each do |drink| %>
    <li>
      <h3 class="drink-name"><%= link_to drink.name, drink_path(drink) %></h3>
    </li>
    <br>
  <% end %>
</ul>


</body>
</html>
