<!DOCTYPE html>
<html lang="en" class="ingredient-bg">
  <head>
    <meta charset="utf-8"> 
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  </head>


<body>


<h1 class="ingredient-welcome"> Welcome To The Ingredient Cupboard!</h1>
<p><h3 class="ingredient-greeting"> Check to see what ingredients you already have or add a new one!</h3></p>


<ul style="list-style: none;">
  <% @ingredients.each do |ingredient| %>
    <li>
      <h3 class="ingredient-name"><%= link_to ingredient.name, ingredient_path(ingredient) %></h3>
    </li>
    <br>
  <% end %>
</ul>


</body>
</html>
