// Place all the styles related to the Shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.shelf-welcome {
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Gelasio', serif;
}

.shelf-name {
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Gelasio', serif;
}

.shelf-greeting {
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Gelasio', serif;
}