// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-welcome {
    color: white;
    text-align: center;
    font-family: 'Gelasio', serif;
    font-size: 70px;
}

.user-name {
    color: white;
    text-align: center;
    font-family: 'Gelasio', serif;
    font-size: 20px;
}